<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="p-0">
    @Html.Partial("_StyleCss")

    @* KIỂM TRA COOKIE "KEEP LOGIN" ĐỂ PHỤC HỒI SESSION NẾU CÓ *@
    @{
        old_phone.Models.OldPhoneEntities db = new old_phone.Models.OldPhoneEntities();
        if (Request.Cookies["KeepLogin"] != null)
        {
            var token = Request.Cookies["KeepLogin"].Values["token"];
            var account = db.Accounts.FirstOrDefault(a => a.RememberMeToken == token);
            if (account != null && account.TokenExpiryDate > DateTime.Now)
            {
                Session["account"] = account;
                Session["acc_id"] = account.account_id;
                Session["acc_name"] = account.account_last_name + " " + account.account_first_name;
                Session["acc_role"] = account.role_id;
            }
            else
            {
                var expriedCookie = new HttpCookie("KeepLogin");
                expriedCookie.Expires = DateTime.Now.AddDays(-1);
                Response.Cookies.Add(expriedCookie);
            }
        }
    }
    <nav class="navbar navbar-expand-lg bg-body-tertiary position-sticky top-0 " style="z-index:2">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse px-3 px-lg-0" id="navbarToggler">
                @Html.ActionLink("Old Phone", "Index", "Shop", new { area = "" }, new { @class = "ms-5 navbar-brand fs-3 fw-semibold" })
                <ul class="navbar-nav flex-grow-1 d-flex flex-column justify-content-center gap-0 gap-lg-3 flex-lg-row">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Shop", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Khuyến mãi ", "Sales", "Shop", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Điện thoại", "Phones", "Shop", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Tin tức", "Blogs", "Shop", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (Session["acc_id"] != null)
                    {
                        var acc_id = Convert.ToInt32(Session["acc_id"]);
                        var cartCount = db.Carts.Count(c => c.account_id == acc_id);
                        var hotlineCount = db.Hotlines.Count(h => h.account_id == acc_id);
                        var orderCount = db.Order_.Count(o => o.account_id == acc_id);
                        <li class="nav-item position-relative ms-lg-5 ms-0">
                            <a href="@Url.Action("Index","Carts")" class="nav-link text-decoration-none text-reset">
                                <i class="bi bi-cart3 fs-5"></i>
                                <span class="position-absolute top-25 start-75 badge rounded-pill bg-danger" style="font-size: 0.65rem; margin-left: -10px;">
                                    @(cartCount > 99 ? "99+" : cartCount.ToString())
                                </span>
                            </a>
                        </li>
                        <li class="nav-item position-relative">
                            <a href="@Url.Action("Index","Hotlines")" class="nav-link text-decoration-none text-reset">
                                <i class="bi bi-house-heart fs-5"></i>
                                <span class="position-absolute top-25 start-75 badge rounded-pill bg-danger" style="font-size: 0.65rem; margin-left: -10px;">
                                    @(cartCount > 99 ? "99+" : hotlineCount.ToString())
                                </span>
                            </a>
                        </li>
                        <li class="nav-item position-relative">
                            <a href="@Url.Action("History","Order")" class="nav-link text-decoration-none text-reset">
                                <i class="bi bi-clock-history fs-5"></i>
                                <span class="position-absolute top-25 start-75 badge rounded-pill bg-danger" style="font-size: 0.65rem; margin-left: -10px;">
                                    @(orderCount > 99 ? "99+" : orderCount.ToString())
                                </span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item position-relative ms-lg-5 ms-0">
                            <a href="@Url.Action("Index","Carts")" class="nav-link text-decoration-none text-reset">
                                <i class="bi bi-cart3 fs-5"></i>
                            </a>
                        </li>
                        <li class="nav-item position-relative">
                            <a href="@Url.Action("Index","Hotlines")" class="nav-link text-decoration-none text-reset">
                                <i class="bi bi-house-heart fs-5"></i>
                            </a>
                        </li>
                        <li class="nav-item position-relative">
                            <a href="@Url.Action("History","Order")" class="nav-link text-decoration-none text-reset">
                                <i class="bi bi-clock-history fs-5"></i>
                            </a>
                        </li>
                    }
                </ul>
                @* KIỂM TRA SESSION *@
                @if (Session["account"] == null)
                {
                    <div class="nav-item me-5">
                        <a href="@Url.Action("Login", "Account")" class="btn btn-outline-primary rounded-pill px-3">
                            <i class="bi bi-person-circle me-1"></i> Đăng nhập
                        </a>
                    </div>
                }
                else
                {
                    var role = Convert.ToInt32(Session["acc_role"]);
                    <div class="nav-item dropdown me-5">
                        <a class="nav-link dropdown-toggle text-white fw-bold" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-check-fill me-1"></i> @Session["acc_name"]
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-3 mt-2">
                            <li>
                                <a class="dropdown-item fw-bold text-primary" href="@Url.Action("AccountProfile", "Account")">
                                    <i class="bi bi-person me-2 text-primary"></i>Thông tin tài khoản
                                </a>
                            </li>
                            @if (role == 2)
                            {
                                <li>
                                    <a class="dropdown-item fw-bold text-success" href="@Url.Action("Index", "Dashboard")">
                                        <i class="bi bi-speedometer2 me-2 text-success"></i>Dashboard Thống Kê
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item fw-bold text-warning" href="@Url.Action("ManageOptionView", "Shop")">
                                        <i class="bi bi-box-seam me-2 text-warning"></i>Quản lý
                                    </a>
                                </li>
                            }

                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item text-danger fw-bold" href="@Url.Action("Logout", "Account")">
                                    <i class="bi bi-box-arrow-right text-danger me-2"></i>Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @* FOOTER *@
    @Html.Partial("_Footer")


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


    @Html.Partial("_AlertCommon")

</body>
</html>
