<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="p-0">
    <style>
        .bg-main-CL {
            background-color: #0d6efd
        }

        .text-main-CL {
            color: #0d6efd;
        }

        .header-bg {
            background-color: #F0F8FF;
        }

        .nav-link {
            color: slategray !important;
            font-weight: 600 !important;
        }

        .navbar-brand {
            color: #0d6efd !important;
        }

        .nav-link:hover {
            color: #0d6efd !important;
            transition: color ease-in-out;
            transition-duration: 300ms;
        }

        .form-floating > .form-control:focus ~ label,
        .form-floating > .form-control:not(:placeholder-shown) ~ label {
            transform: scale(.85) translateY(-1.15rem) translateX(.15rem) !important;
        }
    </style>
    @* KIỂM TRA COOKIE "KEEP LOGIN" ĐỂ PHỤC HỒI SESSION NẾU CÓ *@
    @{
        old_phone.Models.OldPhoneEntities db = new old_phone.Models.OldPhoneEntities();
        if (Request.Cookies["KeepLogin"] != null)
        {
            // Lays token de kiem tra trong db
            var token = Request.Cookies["KeepLogin"].Values["token"];
            var account = db.Accounts.FirstOrDefault(a => a.RememberMeToken == token);
            // Neu nhu co token do trong DB va con han su dung
            if (account != null && account.TokenExpiryDate > DateTime.Now)
            {
                // Phuc hoi session
                Session["account"] = account;
                Session["acc_id"] = account.account_id;
                Session["acc_name"] = account.account_last_name + " " + account.account_first_name;
                Session["acc_role"] = account.role_id;
            }
            else
            {
                // Phong TH khi dang nhap may tinh, sau do dang nhap them va ghi nho dang nhap o thiet bi khac
                // se tao ra token moi => ghi de vao database, thi o tren trinh duyet may tinh cookie luc nay co
                // gia tri token khac voi token trong DB, nen neu nhu truy cap lai tren may tinh, sever se kiem tra token de cho dang nhap
                // nhung luc nay token tren may tinh da khac so voi trong db do do  cookie tren may tinh se bi bo
                // bang cach tao 1 cookie trung ten nhung set han expried la ngay hom qua => trinh duyet check => xoa Cookie
                var expriedCookie = new HttpCookie("KeepLogin");
                expriedCookie.Expires = DateTime.Now.AddDays(-1);
                Response.Cookies.Add(expriedCookie);
            }
        }
    }
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse px-3 px-lg-0" id="navbarToggler">
                @Html.ActionLink("Old Phone", "Index", "Shop", new { area = "" }, new { @class = "ms-5 navbar-brand fs-3 fw-semibold" })
                <ul class="navbar-nav flex-grow-1 d-flex flex-column justify-content-center gap-5 gap-lg-0 flex-lg-row">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Shop", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Giảm giá", "Sales", "Shop", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Điện thoại", "Phones", "Shop", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Bài viết", "Blogs", "Shop", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
                @* KIỂM TRA SESSION *@
                @if (Session["account"] == null)
                {
                    @* Chưa đăng nhập *@
                    <div class="nav-item me-5">
                        <a href="@Url.Action("Login", "Account")" class="btn btn-outline-primary rounded-pill px-3">
                            <i class="bi bi-person-circle me-1"></i> Đăng nhập
                        </a>
                    </div>
                }
                else
                {
                    var role = Convert.ToInt32(Session["acc_role"]);
                    <div class="nav-item dropdown me-5">
                        <a class="nav-link dropdown-toggle text-white fw-bold" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-check-fill me-1"></i> @Session["acc_name"]
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-3 mt-2">
                            @if (role == 1)
                            {
                                <li><a class="dropdown-item text-main-CL " href="#"><i class="bi bi-person me-2"></i>Tài khoản</a></li>
                                <li>
                                    <div class="dropdown-item text-main-CL ">
                                        <i class="bi bi-cart-check me-1"></i>
                                        @Html.ActionLink("Giỏ hàng", "Index", "Carts", new { area = "" }, new { @class = "text-main-CL text-decoration-none text-reset" })
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-item text-main-CL ">
                                        <i class="bi bi-house-check me-1"></i>
                                        @Html.ActionLink("Sổ địa chỉ", "Index", "Hotlines", new { area = "" }, new { @class = "text-main-CL text-decoration-none text-reset" })
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-item text-main-CL ">
                                        <i class="bi bi-house-check me-1"></i>
                                        @Html.ActionLink("Lịch sử đơn hàng", "History", "Order", new { area = "" }, new { @class = "text-main-CL text-decoration-none text-reset" })
                                    </div>
                                </li>
                            }
                            @if (role == 2)
                            {
                                <li>
                                    <a class="dropdown-item text-main-CL " href="@Url.Action("Index", "ManageProducts")">
                                        <i class="bi bi-speedometer2 me-2"></i>Trang quản ly sp
                                    </a>
                                </li>
                            }
                            @if (role == 3)
                            {
                                <li>
                                    <a class="dropdown-item text-main-CL " href="@Url.Action("Dashboard", "Admin")">
                                        <i class="bi bi-speedometer2 me-2"></i>Trang quản trị
                                    </a>
                                </li>
                            }

                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item text-danger fw-bold" href="@Url.Action("Logout", "Account")">
                                    <i class="bi bi-box-arrow-right me-2"></i>Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @* FOOTER *@
    @Html.Partial("_Footer")


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


    @Html.Partial("_AlertCommon")

</body>
</html>
