@model IEnumerable<old_phone.Models.Sale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sale_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sale_start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sale_end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Phone.variant_ph_color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sale_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale_start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale_end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Phone.Product.product_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sale_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sale_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sale_id })
        </td>
    </tr>
}

</table>
